<div class="container">
    <div class="row">
        <div class="col-12 ">
            <form class="border border-dark rounded p-3 mb-5 mt-5">
                <div class="form-group">
                    <label for="phone">Номер телефону</label>
                    <input [(ngModel)]="phone" name="phone" type="text" class="form-control" id="phone"
                        placeholder="телефон..">
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input [(ngModel)]="email" name="email" type="email" class="form-control" id="email" placeholder="e-mail">
                </div>
                <button class="btn btn-warning btn-block mt-3" (click)="isSaveEdit()">Зберегти зміни</button>
            </form>
        </div>
    </div>
</div>