<footer class="container-fluid bg-dark">
    <div class="row pt-3">
        <div class="col-12 col-sm-12 col-md-6 pt-2 pb-2 pl-3 pr-3 bd-callout bd-callout-info">
            <h5 class="text-light">Контакти</h5>
            <p class="text-light"><b>Львівська обл., Городоцький р-н, м. Городок</b></p>
            <p class="text-light">ПН-ПТ: 9:00 - 18:00 | СБ, НД : Вихідний</p>
            <p class="text-light">Телефон: <a href="tel:+380989839276">+380989839276</a></p>
            <p class="text-light">Email: <a href="mailto:brokergor@gmail.com">brokergor@gmail.com</a></p>
        </div>
        <div class="navbar navbar-dark col-12 col-sm-12 col-md-6">
            <div class="row">
                <div class="col-12 col-md-6">
                    <ul class="navbar-nav mr-auto ">
                        <li class="nav-item">
                            <b><a class="nav-link link p-1" href="#home">Головна</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link link p-1" href="#services">Послуги</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link link p-1" href="#price">Ціни</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link link p-1" href="#contacts">Контакти</a></b>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <ul class="navbar-nav mr-auto ">
                        <li class="nav-item">
                            <b><a class="nav-link link p-1" href="#import">Імпорт</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link link p-1" href="#export">Експорт</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link link p-1" href="#eur1">EUR.1</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link link p-1" target="_blank"
                                    href="https://goo.gl/maps/59vAsdyju4nM4BQC8">Прокласти маршрут</a></b>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>
