<div class="container">
    <div class="row">
        <div class="col-12 pt-5 pb-5">
            <ul class="nav nav-tabs">
                <li class="nav-item d-flex flex-row">
                  <a class="nav-link" style="width: 8rem; text-align: center;" routerLink="passenger-car" routerLinkActive="active"><i class="fas fa-car"></i><br>Легкові</a>
                  <a class="nav-link" style="width: 8rem; text-align: center;" routerLink="motorcycle" routerLinkActive="active"><i class="fas fa-motorcycle"></i><br>Мотоцикли</a>
                </li>
                <li class="nav-item d-flex flex-row">
                    <a class="nav-link" style="width: 8rem; text-align: center;" routerLink="cargo-car" routerLinkActive="active"> <i class="fas fa-truck-moving"></i><br>Вантажні</a>
                    <a class="nav-link" style="width: 8rem; text-align: center;" routerLink="buses" routerLinkActive="active"><i class="fas fa-bus"></i><br>Автобуси</a>
                  </li>
                
              </ul>
              <div class="tab-content">
                <router-outlet></router-outlet>
              </div>
        </div>
    </div>
</div>
