.s1{
    background: url("https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Fbg_price.jpg?alt=media&token=3f6d0987-ea21-4394-b4c6-b8cca1ba3b43");
    background-repeat: no-repeat;
    background-size: cover;
}
.s1 button:hover{
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 28px #791112;
    box-shadow: inset 0 0 0 35px #791112;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.s2{
    background: url("https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Fcontact_form.jpg?alt=media&token=ad08797c-3e47-4ded-9113-6b499457e080");
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 575.98px) {
    .s1{
        min-height: calc(100vh - 48px) ;
    }
    .s1 button{
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    .s1 h5{
        font-size: 1rem;
    }
    .s1 h2{
        font-size: 2rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .s1{
        min-height: calc(100vh - 48px) ;
    }
    .s1 button{
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
    .s1 h5{
        font-size: 1.1rem;
    }
    .s1 h2{
        font-size: 2.3rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .s1{
        min-height: calc(100vh - 48px) ;
    }
    .s1 button{
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
    .s1 h5{
        font-size: 1.1rem;
    }
    .s1 h2{
        font-size: 2.6rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .s1{
        min-height: calc(100vh - 60px) ;
    }
    .s1 button{
        font-size: 1.7rem;
        line-height: 1.7rem;
    }
    .s1 h5{
        font-size: 1.5rem;
    }
    .s1 h2{
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    .s1{
        min-height: calc(100vh - 60px) ;
    }
    .s1 button{
        font-size: 2rem;
        line-height: 2rem;
    }
    .s1 h5{
        font-size: 1.6rem;
    }
    .s1 h2{
        font-size: 3.2rem;
    }
}