<section class="container">
    <div class="row" id="price">
        <div class="col-12 pb-2 pt-3">
            <h2>Ціни</h2>
        </div>
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Послуга</th>
                        <th scope="col">Вартість</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Оформлення ПП основний аркуш</td>
                        <td>250.00 грн</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Оформлення ПП додатковий аркуш (за наступний товар)</td>
                        <td>100.00 грн</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Оформлення ПД основний аркуш</td>
                        <td>350.00 грн</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Оформлення ПД додатковий аркуш (за наступний товар)</td>
                        <td>100.00 грн</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Оформлення ІМ основний аркуш МД-2</td>
                        <td>1500.00 грн</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Оформлення ІМ додатковий аркуш МД-3</td>
                        <td>500.00 грн</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Оформлення ІМ додатковий аркуш МД-6</td>
                        <td>100.00 грн</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Оформлення ДМВ</td>
                        <td>250.00 грн</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Оформлення ЕК</td>
                        <td>1500.00 грн</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Проведення через ЕД-вікно (передбачений вид контролю)</td>
                        <td>150.00 грн</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>Інші послуги згідно Договору</td>
                        <td class="d-none d-sm-block">за домовленістю</td>
                        <td class="d-block d-sm-none">за домов- леністю</td>
                    </tr>
                    <tr>
                        <td colspan="3">* - вартість послуг не включає обов’язкові митні платежі, оплату рахунків
                            від інших
                            контролюючих органів та вартість митного терміналу.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">** - дані ціни є орієнтовними, - залежно від кількості поставок, складності
                            поставлених завдань та
                            за умови погодження із Замовником ціни можуть коригуватися, як в більшу так і в меншу
                            сторони.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            *** - вартість оформлення транспортних засобів за окремою домовленістю.
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</section>