<section class="container">
    <div class="row" id="price">
        <div class="col-12 pb-1 pt-3 s1 d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-center text-light mt-3 mt-lg-5">НАШІ ЦІНИ</h2>
            <h5 class="text-center text-light mt-5 mb-5">Наші фахівці завжди раді допомогти Вам оптимізувати витрати на зовнішньо-економічну діяльність</h5>
            <button class="btn btn-light mb-4" (click)="message()">ОТРИМАТИ БЕЗКОШТОВНУ
                КОНСУЛЬТАЦІЮ</button><br>
        </div>
        <div class="col-12 pt-4 pt-lg-5">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Послуга</th>
                        <th scope="col">Вартість</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of price; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.serviceDescription}}</td>
                        <td>{{item.priceDescription}} грн</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">11</th>
                        <td>Інші послуги згідно Договору</td>
                        <td class="d-none d-sm-block">за домовленістю</td>
                        <td class="d-block d-sm-none">за домов- леністю</td>
                    </tr>
                    <tr>
                        <td colspan="3">* - вартість послуг не включає обов’язкові митні платежі, оплату рахунків
                            від інших
                            контролюючих органів та вартість митного терміналу.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">** - дані ціни є орієнтовними, - залежно від кількості поставок, складності
                            поставлених завдань та
                            за умови погодження із Замовником ціни можуть коригуватися, як в більшу так і в меншу
                            сторони.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            *** - вартість оформлення транспортних засобів за окремою домовленістю.
                        </td>
                    </tr>
                </tbody>
            </table>
            


        </div>
    </div>
    <div class="row pb-5">
        <div class="col-12 s6 pb-4 pb-lg-5 s2">
            <form #form="ngForm" class="pt-3 pb-3 col-12 col-md-10 ml-auto mr-auto mt-3">
                <div class="form-group">
                    <p class="h4 text-light">Зв'яжіться з нами:</p>
                </div>
                <div class="form-group">
                    <label class="text-light" for="name">Введіть ім'я</label>
                    <input [(ngModel)]="name" name="name" (change)="validateName()" [ngClass]="{'is-invalid': className, 'is-valid': classNameOk}" type="text" class="form-control" id="name"
                        aria-describedby="emailHelp" placeholder="ім'я..">
                    <small *ngIf="className" id="emailHelp" class="form-text text-danger">Виправте помилку</small>
                </div>
                <div class="form-group">
                    <label class="text-light" for="email">Введіть email</label>
                    <input [(ngModel)]="email" name="email" (change)="validateEmail()" [ngClass]="{'is-invalid': classEmail, 'is-valid': classEmailOk}" type="email" class="form-control" id="email"
                        aria-describedby="emailHelp" placeholder="пошта..">
                        <small *ngIf="classEmail" id="emailHelp" class="form-text text-danger">Виправте помилку</small>
                </div>
                <div class="form-group">
                    <label class="text-light" for="phone">Введіть номер телефону</label>
                    <input [(ngModel)]="phone" name="phone" (change)="validatePhone()" [ngClass]="{'is-invalid': classPhone, 'is-valid': classPhoneOk}" type="text" class="form-control" id="phone"
                        aria-describedby="emailHelp" placeholder="телефон..">
                        <small *ngIf="classPhone" id="emailHelp" class="form-text text-danger">Виправте помилку</small>
                </div>
                <div class="form-group">
                    <label class="text-light" for="textarea">Введіть ваше запитання</label>
                    <textarea [(ngModel)]="messageText" name="messageText" (change)="validateMessage()"  [ngClass]="{'is-invalid': classMessage, 'is-valid': classMessageOk}" class="form-control" id="textarea" rows="3"></textarea>
                    <small *ngIf="classMessage" id="emailHelp" class="form-text text-danger">Виправте помилку. Мінімальна кількість символів - 30</small>
                </div>
                <button type="button" style="background: #791111" class="btn btn-block text-light" (click)="sendMessage(form)">Надіслати
                    повідомлення</button>
            </form>
        </div>
    </div>
</section>