<section class="container">
    <div class="row" id="price">
        <div class="col-12 pb-2 pt-3">
            <h2>Ціни</h2>
        </div>
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Послуга</th>
                        <th scope="col">Вартість</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of price; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.serviceDescription}}</td>
                        <td>{{item.priceDescription}} грн</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">11</th>
                        <td>Інші послуги згідно Договору</td>
                        <td class="d-none d-sm-block">за домовленістю</td>
                        <td class="d-block d-sm-none">за домов- леністю</td>
                    </tr>
                    <tr>
                        <td colspan="3">* - вартість послуг не включає обов’язкові митні платежі, оплату рахунків
                            від інших
                            контролюючих органів та вартість митного терміналу.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">** - дані ціни є орієнтовними, - залежно від кількості поставок, складності
                            поставлених завдань та
                            за умови погодження із Замовником ціни можуть коригуватися, як в більшу так і в меншу
                            сторони.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            *** - вартість оформлення транспортних засобів за окремою домовленістю.
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</section>