#eur1 li{
  list-style-type: none;
}


#eur1 li.change::before {
  content: url("https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Fangle-double-right-solid.svg?alt=media&token=9aca7161-447a-4999-85e7-099dcbc60b41");
  padding-right: .5rem;
  margin-left: -1rem;
  display: inline-block;
  width: 1rem;

}

.s1{
  background: url("https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Feur_1.jpg?alt=media&token=6f7c8cef-c40d-463f-95dd-bd7fa35a23fa");
  background-repeat: no-repeat;
  background-size: cover;
}
.s1 button:hover{
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 28px #791112;
  box-shadow: inset 0 0 0 35px #791112;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.s2{
  background: url("https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Fcontact_form.jpg?alt=media&token=ad08797c-3e47-4ded-9113-6b499457e080");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 575.98px) {
  .s1{
      min-height: calc(100vh - 48px) ;
  }
  .s1 button{
      font-size: 1.2rem;
      line-height: 1.2rem;
  }
  .s1 h5{
      font-size: 2rem;
      font-weight: bold;
  }
  .s1 h2{
      font-size: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .s1{
      min-height: calc(100vh - 48px) ;
  }
  .s1 button{
      font-size: 1.3rem;
      line-height: 1.3rem;
  }
  .s1 h5{
    font-size: 2.3rem;
    font-weight: bold;
  }
  .s1 h2{
      font-size: 2.3rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .s1{
      min-height: calc(100vh - 48px) ;
  }
  .s1 button{
      font-size: 1.3rem;
      line-height: 1.3rem;
  }
  .s1 h5{
    font-size: 2.6rem;
    font-weight: bold;
  }
  .s1 h2{
      font-size: 2.6rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .s1{
      min-height: calc(100vh - 60px) ;
  }
  .s1 button{
      font-size: 1.7rem;
      line-height: 1.7rem;
  }
  .s1 h5{
    font-size: 3rem;
    font-weight: bold;
  }
  .s1 h2{
      font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .s1{
      min-height: calc(100vh - 60px) ;
  }
  .s1 button{
      font-size: 2rem;
      line-height: 2rem;
  }
  .s1 h5{
    font-size: 3.2rem;
    font-weight: bold;
  }
  .s1 h2{
      font-size: 3.2rem;
  }
}

