<section class="container">
    <div class="row" id="eur1">
        <div class="col-12 pb-2 pt-3">
            <h2>Сертифікати за формою "EUR.1"</h2>
        </div>
        <div class="col-12 text-justify">
            <p><b>Сертифікат з перевезення товару EUR.1</b> – документ, який підтверджує європейське/українське
                походження товарів і дає право провести митне очищення вантажу з використанням преференційної ставки
                мита, тим самим знижуючи його вартість для одержувача.</p>
            <h6><strong>Орієнтовна послідовність дій при отриманні сертифікату EUR.1:</strong></h6>
            <p>Перед тим, як оформляти заявку на отримання сертифікату EUR.1, необхідно перевірити, чи такий товар
                підпадає під відповідну категорію товарів на котрі видається даний сертифікат.</p>
            <p>Для отримання сертифікату експортер повинен подати митному органу такі документи:</p>
            <ol>
                <li class="mb-2 change">заяву, що містить декларацію від експортера, за формою, визначеною угодами
                    про вільну торгівлю, та/або її електронну копію;</li>
                <li class="mb-2 change">заповнений бланк сертифіката та його електронну копію;</li>
                <li class="mb-2 change">документи, що підтверджують преференційне походження товарів з України,
                    зазначених у сертифікаті при першій поставці таких товарів до країн ЄС або у разі зміни умов
                    технологічного процесу виробництва товару, що впливає на преференційне походження товарів, які
                    експортуються з України.</li>
            </ol>
            <p>Повний перелік документів, які необхідно надати для отримання сертифікату EUR.1, в кожному випадку
                індивідуальний, він залежить від митного коду та способу виробництва товару. Митні органи під час
                видачі сертифікату мають право вимагати будь-яких доказів і здійснювати будь-яку перевірку рахунків
                експортера та інші перевірки, які вважатимуть належними для встановлення походження товарів.</p>
        </div>
    </div>
</section>