<section class="container">
    <div class="row pb-5" id="eur1">
        <div class="col-12 pb-1 pt-3 s1 d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-center text-light mt-3 mt-lg-5">СЕРТИФІКАТ ПОХОДЖЕННЯ</h2>
            <h5 class="text-center text-light mb-5 mt-5">EUR 1</h5>
            <button class="btn btn-light mb-4" (click)="message()">ОТРИМАТИ БЕЗКОШТОВНУ
                КОНСУЛЬТАЦІЮ</button><br>
        </div>
        <div class="col-12 pt-5 text-justify">
            <p><b>Сертифікат з перевезення товару EUR.1</b> – документ, який підтверджує європейське/українське
                походження товарів і дає право провести митне очищення вантажу з використанням преференційної ставки
                мита, тим самим знижуючи його вартість для одержувача.</p>
            <h6><strong>Орієнтовна послідовність дій при отриманні сертифікату EUR.1:</strong></h6>
            <p>Перед тим, як оформляти заявку на отримання сертифікату EUR.1, необхідно перевірити, чи такий товар
                підпадає під відповідну категорію товарів на котрі видається даний сертифікат.</p>
            <p>Для отримання сертифікату експортер повинен подати митному органу такі документи:</p>
            <ol>
                <li class="mb-2 change">заяву, що містить декларацію від експортера, за формою, визначеною угодами
                    про вільну торгівлю, та/або її електронну копію;</li>
                <li class="mb-2 change">заповнений бланк сертифіката та його електронну копію;</li>
                <li class="mb-2 change">документи, що підтверджують преференційне походження товарів з України,
                    зазначених у сертифікаті при першій поставці таких товарів до країн ЄС або у разі зміни умов
                    технологічного процесу виробництва товару, що впливає на преференційне походження товарів, які
                    експортуються з України.</li>
            </ol>
            <p>Повний перелік документів, які необхідно надати для отримання сертифікату EUR.1, в кожному випадку
                індивідуальний, він залежить від митного коду та способу виробництва товару. Митні органи під час
                видачі сертифікату мають право вимагати будь-яких доказів і здійснювати будь-яку перевірку рахунків
                експортера та інші перевірки, які вважатимуть належними для встановлення походження товарів.</p>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-12 s6 pb-4 pb-lg-5 s2">
            <form #form="ngForm" class="pt-3 pb-3 col-12 col-md-10 ml-auto mr-auto mt-3">
                <div class="form-group">
                    <p class="h4 text-light">Зв'яжіться з нами:</p>
                </div>
                <div class="form-group">
                    <label class="text-light" for="name">Введіть ім'я</label>
                    <input [(ngModel)]="name" name="name" (change)="validateName()" [ngClass]="{'is-invalid': className, 'is-valid': classNameOk}" type="text" class="form-control" id="name"
                        aria-describedby="emailHelp" placeholder="ім'я..">
                    <small *ngIf="className" id="emailHelp" class="form-text text-danger">Виправте помилку</small>
                </div>
                <div class="form-group">
                    <label class="text-light" for="email">Введіть email</label>
                    <input [(ngModel)]="email" name="email" (change)="validateEmail()" [ngClass]="{'is-invalid': classEmail, 'is-valid': classEmailOk}" type="email" class="form-control" id="email"
                        aria-describedby="emailHelp" placeholder="пошта..">
                        <small *ngIf="classEmail" id="emailHelp" class="form-text text-danger">Виправте помилку</small>
                </div>
                <div class="form-group">
                    <label class="text-light" for="phone">Введіть номер телефону</label>
                    <input [(ngModel)]="phone" name="phone" (change)="validatePhone()" [ngClass]="{'is-invalid': classPhone, 'is-valid': classPhoneOk}" type="text" class="form-control" id="phone"
                        aria-describedby="emailHelp" placeholder="телефон..">
                        <small *ngIf="classPhone" id="emailHelp" class="form-text text-danger">Виправте помилку</small>
                </div>
                <div class="form-group">
                    <label class="text-light" for="textarea">Введіть ваше запитання</label>
                    <textarea [(ngModel)]="messageText" name="messageText" (change)="validateMessage()"  [ngClass]="{'is-invalid': classMessage, 'is-valid': classMessageOk}" class="form-control" id="textarea" rows="3"></textarea>
                    <small *ngIf="classMessage" id="emailHelp" class="form-text text-danger">Виправте помилку. Мінімальна кількість символів - 30</small>
                </div>
                <button type="button" class="btn btn-success btn-block" (click)="sendMessage(form)">Надіслати
                    повідомлення</button>
            </form>
        </div>
    </div>
</section>