main{
    min-height: 100vh;
}

@media (max-width: 575.98px) {
    main{
        min-height: calc(100vh - 554px) ;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    main{
        min-height: calc(100vh - 554px) ;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    main{
        min-height: calc(100vh - 282px) ;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    main{
        min-height: calc(100vh - 304px) ;
    }
}

@media (min-width: 1200px) {
    main{
        min-height: calc(100vh - 304px) ;
    }
}