<section class="container">
    <div class="row" id="import">
        <div class="col-12 pb-2 pt-3">
            <h2>Імпорт</h2>
        </div>
        <div class="col-12 text-justify">
            <p class="mb-4"><b>Імпорт</b> – це ввезення на територію країни товарів, послуг. У митному відношенні:
                імпорт - це митний режим, в результаті якого товари з-за кордону випускаються у вільний обіг на
                території України (без зобов’язання про зворотне вивезення). Окрім випуску у вільний обіг при
                ввезенні можуть застосовуватися й інші митні режими: реімпорт, тимчасове ввезення, переробка на
                митній території України тощо.
                Товари, що імпортуються на територію України, підлягають митному оформленню. Тому імпортеру
                необхідно здійснити ряд митних формальностей.
            </p>
            <h6><strong>Орієнтовна послідовність дій при імпорті товару в Україну:</strong></h6>
            <ol>
                <li class="mb-2 change">визначити економічну доцільність імпорту товару в Україну (вигідно, чи ні),
                    перелік дозвільних документів, митні платежі та збори, інші витрати, які можуть виникнути при
                    ввезенні товару (вартість отримання дозвільних документів, транспортування, брокерські і т.д.);
                </li>
                <li class="mb-2 change">у митному органі стати на облік осіб, які здійснюють операції з товарами;
                </li>
                <li class="mb-2 change">укласти зовнішньоекономічний контракт і перевірити його на відповідність
                    вимогам митного органу і вповноваженого банку;</li>
                <li class="mb-2 change">укласти договір про надання транспортно-експедиційних послуг (необхідність
                    залежить від вибраних умов поставки згідно правил ІНКОТЕРМС);</li>
                <li class="mb-2 change">встановити код товару згідно УКТЗЕД та розрахувати митну вартість товару;
                </li>
                <li class="mb-2 change">вибрати митний режим та з’ясувати особливості митного оформлення товару для
                    обраного режиму;</li>
                <li class="mb-2 change">визначити заходи тарифного і нетарифного регулювання щодо імпортованого
                    товару;</li>
                <li class="mb-2 change">розрахувати платежі при імпорті для конкретної партії товару (за
                    необхідності здійснити передоплату на рахунок митного органу);</li>
                <li class="mb-2 change">оформити попередню МД та ввезти товар на митну територію України;</li>
                <li class="mb-2 change">у випадках встановлених законодавством, пройти процедури контролю інших
                    державних органів;</li>
                <li class="mb-2 change">сформувати необхідний пакет документів <i>(перелік документів, які необхідно
                        надати для митного оформлення, в кожному випадку індивідуальний, він залежить від митного
                        коду та специфіки товару)</i>;</li>
                <li class="mb-2 change">здійснити митне оформлення товару.</li>
            </ol>
        </div>
    </div>
</section>