<section class="container">
    <div class="row d-flex flex-row align-items-center justify-content-center" id="services">
        <div class="col-12 pb-1 pt-3">
            <h2>Послуги</h2>
        </div>
        <div class="col-12 text-center mb-2">
            <h5>Ми надаємо якісні та швидкі послуги в сфері митно - брокерської діяльності.</h5>
        </div>
        <div class="col-12">
            <dl class="row">
                <!--row 1-->
                <dt class="col-12 col-md-4 d-flex flex-row align-items-center justify-content-center"><img
                        class="img-fluid img-thumbnail" src="https://firebasestorage.googleapis.com/v0/b/brokergor-project.appspot.com/o/1.jpg?alt=media&token=e381e5e9-2fa8-4702-b2d9-c1e610c171ec" alt=""></dt>
                <dd class="col-12 col-md-8 d-flex flex-row align-items-center">Зручне географічне розташування
                    терміналу поблизу західного кордону дає змогу
                    провести митне очищення вантажу в короткі терміни і з меншими витратами (в порівнянні з іншими
                    великими містами України) та дає можливість власнику товару в подальшому реалізовувати його в
                    будь-якому регіоні України, що збільшує ефективність логістики та конкурентоспроможність фірми
                    на
                    ринку.</dd>

                <!--row 2-->
                <dt class="col-12 col-md-4 d-flex d-md-none flex-row align-items-center justify-content-center"><img
                        class="img-fluid img-thumbnail" src="https://firebasestorage.googleapis.com/v0/b/brokergor-project.appspot.com/o/2.jpg?alt=media&token=6ec22a4d-844f-41d8-a4c4-5f24ea36c896" alt=""></dt>
                <dd class="col-12 col-md-8 d-flex flex-row align-items-center">Маємо багаторічний досвід роботи з
                    різними вантажами: оформляємо хімічні продукти, метали, вироби з пластмаси, промислове та с/г
                    обладнання, овочі та фрукти, меблі, транспортні засоби та ін.</dd>
                <dt class="col-12 col-md-4 d-md-flex d-none flex-row align-items-center justify-content-center"><img
                        class="img-fluid img-thumbnail" src="https://firebasestorage.googleapis.com/v0/b/brokergor-project.appspot.com/o/2.jpg?alt=media&token=6ec22a4d-844f-41d8-a4c4-5f24ea36c896" alt=""></dt>



                <!--row 3-->
                <dt class="col-12 col-md-4 d-flex flex-row align-items-center justify-content-center"><img
                        class="img-fluid img-thumbnail" src="https://firebasestorage.googleapis.com/v0/b/brokergor-project.appspot.com/o/3.jpg?alt=media&token=47bab20a-7f0f-436c-a8aa-125aaac0a10f" alt=""></dt>
                <dd class="col-12 col-md-8 d-flex flex-row align-items-center">Звернувшись за митними послугами у
                    нашу компанію Ви отримаєте цілий ряд переваг, які суттєво спростять проходження митниці, що в
                    кінцевому підсумку заощадить ваші нерви, час і кошти.</dd>
            </dl>
        </div>

    </div>
</section>