<section class="container-fluid p-0">
    <nav class="col-12 d-lg-none pb-3 nnavbar navbar-dark bg-dark">
        <address class="navbar-nav d-flex d-lg-none flex-column mr-3" id="address-mobile">
            <a href="tel:+380989839276" class="nav-link m-0 p-0"><b>+380989839276</b></a>
            <a href="mailto:brokergor@gmail.com" target="_top" class="nav-link m-0 p-0">brokergor@gmail.com</a>
        </address>
    </nav>
</section>
<section class="container">
    <div class="row" id="home">



        <div class="col-12 d-flex flex-row justify-content-center align-items-center">
            <div class="row d-flex flex-row align-items-center justify-content-center home">
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex flex-row justify-content-center align-items-center">
                    <h1 class="text-center">МИТНЕ ОФОРМЛЕННЯ</h1>
                </div>
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex flex-row flex-wrap justify-content-center align-items-start">

                    <button type="button" class="btn btn-light btn-func" routerLink="/export">ЕКСПОРТУ
                    </button>


                </div>
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-6 mb-5 mb-lg-0 d-flex flex-row flex-wrap justify-content-center align-items-start">

                    <button type="button" class="btn btn-light btn-func" routerLink="/import">ІМПОРТУ
                    </button>

                </div>
                <!-- <div
                                class="col-12 col-sm-12 col-md-12 col-lg-4 d-flex flex-row flex-wrap justify-content-center align-items-start">
                                <a href="#car">
                                    <button type="button" class="btn btn-light btn-func mb-3 mb-lg-0" value="#car">ТРАНСПОРТНИХ
                                        ЗАСОБІВ
                                    </button>
                                </a>
                            </div> -->
            </div>
        </div>

    </div>

</section>