*{
    box-sizing: border-box;
}

/* section>div>p {
    text-indent: 1.5rem;
} */

#home {
    /* padding-top: 6.6rem; */
    height: calc(100vh - 80px);
    background: url("https://firebasestorage.googleapis.com/v0/b/brokergor-project.appspot.com/o/1s_bgc.jpg?alt=media&token=3f580dee-ca94-40a0-bb7d-f01a88a43993");
    background-size: cover;
    box-sizing: border-box;
}

.home {
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 20px;
}

#home h1 {
    color: white;
}

#home button {
    font-size: 2.2rem;
}

/* @Media query */
@media (max-width: 575.98px) {
    #home{
        height: calc(100vh - 130px);
    }
    #home h1 {
        font-size: 2.3rem;
        text-shadow: -2px 1px 6px rgba(0,0,0,1);
    }

    #home button {
        font-size: 1.1rem;
        width: 90%;
        padding: .9em 0;
        font-weight: bold;
        letter-spacing: .5rem;
        text-align: center;
        text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.33);
    }
    
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #home{
        height: calc(100vh - 130px);
    }
    #home h1 {
        font-size: 3rem;
        text-shadow: -2px 1px 6px rgba(0,0,0,1);
    }

    #home button {
        font-size: 1.5rem;
        width: 90%;
        padding: .5em 0;
        font-weight: bold;
        letter-spacing: .5rem;
        text-align: center;
        text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.33);
    }
    .home{
        width: 95%!important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #home{
        height: calc(100vh - 130px);
    }
    #home h1 {
        font-size: 3.5rem;
        text-shadow: -2px 1px 6px rgba(0,0,0,1);
    }

    #home button {
        font-size: 1.8rem;
        width: 90%;
        padding: .5em 0;
        font-weight: bold;
        letter-spacing: .5rem;
        text-align: center;
        text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.33);
    }
    .home{
        width: 95%!important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #home{
        height: calc(100vh - 80px);
    }
    #home h1 {
        font-size: 4.5rem;
        text-shadow: -2px 1px 6px rgba(0,0,0,1);
    }

    #home button {
        font-size: 2rem;
        height: 6rem;
        width: 90%;
        padding: .5em 0;
        font-weight: bold;
        letter-spacing: .5rem;
        text-align: center;
        text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.33);
    }
    .home{
        width: 95%!important;
    }
}

@media (min-width: 1200px) {
    #home{
        height: calc(100vh - 80px);
    }
    #home h1 {
        font-size: 5rem;
        text-shadow: -2px 1px 6px rgba(0,0,0,1);
    }

    #home button {
        font-size: 2.3rem;
        height: 8rem;
        width: 90%;
        padding: .5em 0;
        font-weight: bold;
        letter-spacing: .5rem;
        text-align: center;
        text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.33);
    }
    .home{
        width: 95%!important;
    }
}