<section class="container-fluid">
    <div class="row" id="home">
        <div class="col-12 d-flex flex-row justify-content-center align-items-center pl-0 pr-0">
            <div class="bd-example d-none d-sm-block">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" *ngFor="let item of SliderService.data"
                            data-slide-to=""></li>
                    </ol>
                    <div class="carousel-inner d-none d-sm-block position-reletive">
                        <div class="carousel-item" *ngFor="let item of SliderService.data; first as isFirst"
                            [ngClass]="{'active': isFirst}">
                            <img src="{{item.image}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-block">
                                <h5>{{item.firstTitle}}</h5>
                                <p>{{item.secondTitle}}</p>
                                <button class="btn btn-light mb-4" (click)="message()">ОТРИМАТИ БЕЗКОШТОВНУ
                                    КОНСУЛЬТАЦІЮ</button><br>
                                <button class="btn btn-light" routerLink="/calculator">РОЗРАХУВАТИ ВАРТІСТЬ РОЗМИТНЕННЯ
                                    АВТО</button>
                            </div>
                        </div>
                        <i (click)="scrollTo()" class="fas fa-arrow-down mt-5 position-absolute bounce"
                            style="display: block; font-size: 2rem; color: white; top: 75%; left: 50%; transform: translate(-50%, -50%); z-index: 99;"></i>
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <!-- mobile slider -->
            <div class="bd-example d-block d-sm-none">
                <div id="carouselExampleCaptionsM" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptionsM"
                            *ngFor="let item1 of SliderService.data; let j=index; first as firstElem"
                            [ngClass]="{'active': firstElem}" data-slide-to=""></li>
                    </ol>
                    <div class="carousel-inner d-block d-sm-none">
                        <div class="carousel-item" *ngFor="let item of SliderService.data; first as isFirst"
                            [ngClass]="{'active': isFirst}">
                            <img src="{{item.imageSM}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-block">
                                <h5>{{item.firstTitle}}</h5>
                                <p>{{item.secondTitle}}</p>
                                <button class="btn btn-light mb-4" (click)="message()">ОТРИМАТИ БЕЗКОШТОВНУ
                                    КОНСУЛЬТАЦІЮ</button><br>
                                <button class="btn btn-light" routerLink="/calculator">РОЗРАХУВАТИ ВАРТІСТЬ РОЗМИТНЕННЯ
                                    АВТО</button>
                            </div>
                        </div>
                        <i (click)="scrollTo()" class="fas fa-arrow-down mt-5 position-absolute animate"
                            style="display: block; font-size: 2rem; color: white; top: 75%; left: 50%; transform: translate(-50%, -50%); z-index: 99"></i>
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleCaptionsM" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptionsM" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>

    </div>
    <div class="row pt-3 pb-3 scrollTo s2">
        <div class="col-12">
            <p class="h1 text-center d-block mt-4 mb-3">МИТНО-БРОКЕРСЬКІ ПОСЛУГИ</p>
            <div class="import-export d-flex flex-row justify-content-between flex-wrap">
                <div class="card bg-dark text-white">
                    <img src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Fexport_home.jpg?alt=media&token=1d7f726b-e425-461d-b075-70ae788e551a"
                        class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title mt-3">ЕКСПОРТ</h5>
                        <button class="btn btn-light card-text" routerLink="/export">Детальніше></button>
                    </div>
                </div>
                <div class="card bg-dark text-white mt-3 mt-sm-0">
                    <img src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Fimport_home.jpg?alt=media&token=d0aa2872-ca65-47f9-9071-c9533d860c98"
                        class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title mt-3">ІМПОРТ</h5>
                        <button class="btn btn-light card-text" routerLink="/import">Детальніше></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-12 s3 d-flex flex-row flex-wrap justify-content-around pb-5">
            <p class="h1 d-block col-12 mt-5 text-white text-center">МИТНЕ ОФОРМЛЕННЯ</p>
            <div class="card mt-5 p-3" style="background: rgba(0,0,0,.3)">
                <div class="card-body text-white text-center p-0">
                    <h5 class="card-title mb-4"><i class="fas fa-truck-moving"></i></h5>
                    <h4 class="card-subtitle mb-2 text-light">АВТОТРАНСПОРТОМ</h4>
                </div>
            </div>
            <div class="card mt-5 p-3" style="background: rgba(0,0,0,.3)">
                <div class="card-body text-white text-center p-0">
                    <h5 class="card-title mb-4"><i class="fas fa-ship"></i></h5>
                    <h4 class="card-subtitle mb-2 text-light">МОРСЬКИМ ТРАНСПОРТОМ</h4>
                </div>
            </div>
            <div class="card mt-5 p-3" style="background: rgba(0,0,0,.3)">
                <div class="card-body text-white text-center p-0">
                    <h5 class="card-title mb-4"><i class="fas fa-subway"></i></h5>
                    <h4 class="card-subtitle mb-2 text-light">ЗАЛІЗНИЧНИМ ТРАНСПОРТОМ</h4>
                </div>
            </div>
            <div class="card mt-5 p-3" style="background: rgba(0,0,0,.3)">
                <div class="card-body text-white text-center p-0">
                    <h5 class="card-title mb-4"><i class="fas fa-plane"></i></h5>
                    <h4 class="card-subtitle mb-2 text-light">АВІАТРАНСПОРТОМ</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 s4 d-flex flex-row flex-wrap justify-content-around">
            <p class="h1 d-block col-12 text-center pt-lg-4 pb-sm-3">ВИДИ ВАНТАЖІВ, ЯКІ МИ ОФОРМЛЯЄМО</p>
            <div class="card pt-2 mb-2 mb-lg-3" style="background: rgba(0,0,0,.1)">
                <img src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Ficon%20(4).png?alt=media&token=137ffb95-d5b8-4638-bc63-274826d592fe"
                    class="card-img-top" alt="...">
                <div class="card-body p-1">
                    <p class="card-text text-center">ПРОМИСЛОВЕ ОБЛАДНАННЯ</p>
                </div>
            </div>
            <div class="card pt-2 mb-2 mb-lg-3" style="background: rgba(0,0,0,.1)">
                <img src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Ficon%20(5).png?alt=media&token=5444511d-3ad5-408c-8f1b-ce3d28eb51a9"
                    class="card-img-top" alt="...">
                <div class="card-body p-1">
                    <p class="card-text text-center">ЕЛЕКТРОНІКА І ЕЛЕКТРОТЕХНІКА</p>
                </div>
            </div>
            <div class="card pt-2 mb-2 mb-lg-3" style="background: rgba(0,0,0,.1)">
                <img src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Ficon%20(1).png?alt=media&token=5d8ffef8-1c6c-4759-8e08-7f788434c127"
                    class="card-img-top" alt="...">
                <div class="card-body p-1">
                    <p class="card-text text-center">ПРОДУКТИ ПОБУТОВОЇ І ПРОМИСЛОВОЇ ХІМІЇ</p>
                </div>
            </div>
            <div class="card pt-2 mb-2 mb-lg-3" style="background: rgba(0,0,0,.1)">
                <img src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Ficon%20(6).png?alt=media&token=6dd7d35c-93b9-47f0-977e-0f1cc92913b8"
                    class="card-img-top" alt="...">
                <div class="card-body p-1">
                    <p class="card-text text-center">ТЕКСТИЛЬ. ОДЯГ. ВЗУТТЯ</p>
                </div>
            </div>
            <div class="card pt-2 mb-2 mb-lg-3" style="background: rgba(0,0,0,.1)">
                <img src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Ficon%20(8).png?alt=media&token=a508fbd0-1f56-4184-b347-5a2ac50617ec"
                    class="card-img-top" alt="...">
                <div class="card-body p-1">
                    <p class="card-text text-center">ПРОДУКТИ ХАРЧУВАННЯ</p>
                </div>
            </div>
            <div class="card pt-2 mb-2 mb-lg-3" style="background: rgba(0,0,0,.1)">
                <img src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Ficon%20(2).png?alt=media&token=a9b97691-8ba3-490e-a772-92dc4ffd9edf"
                    class="card-img-top" alt="...">
                <div class="card-body p-1">
                    <p class="card-text text-center">МЕДИЧНА ТЕХНІКА І СИРОВИНА</p>
                </div>
            </div>
            <div class="card pt-2 mb-2 mb-lg-3" style="background: rgba(0,0,0,.1)">
                <img src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Ficon%20(3).png?alt=media&token=e1a313f0-50c7-469b-8142-07a7efe973b3"
                    class="card-img-top" alt="...">
                <div class="card-body p-1">
                    <p class="card-text text-center">КОСМЕТИКА</p>
                </div>
            </div>
            <div class="card pt-2 mb-2 mb-lg-3" style="background: rgba(0,0,0,.1)">
                <img src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Ficon%20(7).png?alt=media&token=b17d19a7-5b95-4331-b1df-1d690de4bcef"
                    class="card-img-top" alt="...">
                <div class="card-body p-1">
                    <p class="card-text text-center">КУЛЬТУРНІ ЦІННОСТІ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 s5 d-flex flex-row flex-wrap justify-content-around mt-5 pt-3 pb-3 pb-lg-5">
            <p class="h1 d-block col-12 text-center pt-lg-4 pb-lg-2">НАШІ ПЕРЕВАГИ</p>
            <p class="h2 d-block col-12 text-center pb-sm-3">Чому з нами вигідно працювати</p>
            <div class="card pt-2 mb-2 mb-lg-3" style="background: rgba(0,0,0,.1)">
                <img style="width: 33px; height: 39px; margin: 0 auto"
                    src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Ficon%20(14).png?alt=media&token=f011bd56-fd44-4d08-81df-85977747201d"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">НАДІЙНІСТЬ</h5>
                    <p class="card-text text-center">Надання кваліфікованої допомоги та можливість скористатися
                        послугами нашої
                        компанії, яка візьме вирішення усіх питань щодо зовнішньоекономічної діяльністі на себе і
                        надасть комплексне
                        рішення</p>
                </div>
            </div>
            <div class="card pt-2 mb-2 mb-lg-3" style="background: rgba(0,0,0,.1)">
                <img style="width: 31px; height: 40px; margin: 0 auto"
                    src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Ficon%20(13).png?alt=media&token=4c834e42-d892-4f5b-8517-118e566693ce"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">КОНФІДЕНЦІЙНІСТЬ</h5>
                    <p class="card-text text-center">Оперативність, конфіденційність, відповідальність в усіх сферах
                        діяльності. Комплексне обслуговування та гнучкий підхід завдяки широкому спектру послуг.</p>
                </div>
            </div>
            <div class="card pt-2 mb-2 mb-lg-3" style="background: rgba(0,0,0,.1)">
                <img style="width: 42px; height: 41px;  margin: 0 auto"
                    src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Ficon%20(12).png?alt=media&token=b8b595a6-bb7f-4e69-95f1-6c714a49614e"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">ВІДПОВІДАЛЬНІСТЬ</h5>
                    <p class="card-text text-center">Професійне представництво у судах, митних, податкових та інших
                        державних органах. Адже опорою нашої компанії є досвідчені фахівці, з досвідом роботи понад 15
                        років</p>
                </div>
            </div>
            <div class="card pt-2 mb-2 mb-lg-3" style="background: rgba(0,0,0,.1)">
                <img style="width: 48px; height: 37px;  margin: 0 auto"
                    src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Ficon%20(11).png?alt=media&token=8a27fc3b-dbbf-4a23-bf0a-dda413c32f0a"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">ДОСТУПНІСТЬ</h5>
                    <p class="card-text text-center">Максимальна оптимізація діяльності для досягнення нових успіхів.
                        Ваш успіх буде запорукою тривалої і взаємовигідної співпраці</p>
                </div>
            </div>
            <div class="card pt-2 mb-2 mb-lg-3" style="background: rgba(0,0,0,.1)">
                <img style="width: 42px; height: 41px; margin: 0 auto"
                    src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Ficon%20(10).png?alt=media&token=d5b12118-57f7-4d99-b54e-2c34c64a6884"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">ОПЕРАТИВНІСТЬ</h5>
                    <p class="card-text text-center">Якнайшвидше допоможемо здійснити усі операції, необхідні для
                        митного оформлення та контролю. Оскільки розуміємо, що терміни доставки відіграють дуже важливу
                        роль у бізнесі.</p>
                </div>
            </div>
            <div class="card pt-2 mb-2 mb-lg-3" style="background: rgba(0,0,0,.1)">
                <img style="width: 42px; height: 41px; margin: 0 auto"
                    src="https://firebasestorage.googleapis.com/v0/b/brokergor-4ccd1.appspot.com/o/images%2Fmain%2Ficon%20(9).png?alt=media&token=4bc1eb0b-28b6-420c-8500-1349fc70abc8"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">ПРОФЕСІЙНІСТЬ</h5>
                    <p class="card-text text-center">Виконуємо завданя будь-якої складності. Знижки та співпраця на
                        вигідних умовах з постійними клієнтами. Забезпечуємо ефективну партнерську співпрацю.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-12 s6 pb-4 pb-lg-5">
            <form #form="ngForm" class="pt-3 pb-3 col-12 col-md-10 ml-auto mr-auto mt-3">
                <div class="form-group">
                    <p class="h4 text-light">Зв'яжіться з нами:</p>
                </div>
                <div class="form-group">
                    <label class="text-light" for="name">Введіть ім'я</label>
                    <input [(ngModel)]="name" name="name" (change)="validateName()" [ngClass]="{'is-invalid': className, 'is-valid': classNameOk}" type="text" class="form-control" id="name"
                        aria-describedby="emailHelp" placeholder="ім'я..">
                    <small *ngIf="className" id="emailHelp" class="form-text text-danger">Виправте помилку</small>
                </div>
                <div class="form-group">
                    <label class="text-light" for="email">Введіть email</label>
                    <input [(ngModel)]="email" name="email" (change)="validateEmail()" [ngClass]="{'is-invalid': classEmail, 'is-valid': classEmailOk}" type="email" class="form-control" id="email"
                        aria-describedby="emailHelp" placeholder="пошта..">
                        <small *ngIf="classEmail" id="emailHelp" class="form-text text-danger">Виправте помилку</small>
                </div>
                <div class="form-group">
                    <label class="text-light" for="phone">Введіть номер телефону</label>
                    <input [(ngModel)]="phone" name="phone" (change)="validatePhone()" [ngClass]="{'is-invalid': classPhone, 'is-valid': classPhoneOk}" type="text" class="form-control" id="phone"
                        aria-describedby="emailHelp" placeholder="телефон..">
                        <small *ngIf="classPhone" id="emailHelp" class="form-text text-danger">Виправте помилку</small>
                </div>
                <div class="form-group">
                    <label class="text-light" for="textarea">Введіть ваше запитання</label>
                    <textarea [(ngModel)]="messageText" name="messageText" (change)="validateMessage()"  [ngClass]="{'is-invalid': classMessage, 'is-valid': classMessageOk}" class="form-control" id="textarea" rows="3"></textarea>
                    <small *ngIf="classMessage" id="emailHelp" class="form-text text-danger">Виправте помилку. Мінімальна кількість символів - 30</small>
                </div>
                <button type="button" style="background: #791111" class="btn btn-block text-light" (click)="sendMessage(form)">Надіслати
                    повідомлення</button>
            </form>
        </div>
    </div>
</section>