<section class="container">
    <div class="row" id="car">
        <div class="col-12 pb-2 pt-3">
            <h2>Оформлення транспортних засобів</h2>
        </div>
        <div class="col-12 text-justify">
            <h6><strong>Орієнтовна послідовність дій при ввезенні транспортного засобу в Україну фізичною
                    особою:</strong></h6>
            <ol>
                <li class="mb-2 change">необхідно, укласти із продавцем авто договір купівлі-продажу або інший
                    документ, що його замінює в якому зазначено вартість автомобіля та підтверджується право
                    власності покупця;</li>
                <li class="mb-2 change">зняти автомобіль з обліку в країні реєстрації;</li>
                <li class="mb-2 change">оформити експортну декларацію;</li>
                <li class="mb-2 change">здійснити передоплату митних платежів на рахунок митного органу в Україні;
                </li>
                <li class="mb-2 change">оформити попередню митну декларацію для громадян та ввезти автомобіль на
                    територію України;</li>
                <li class="mb-2 change">пройти сертифікацію транспортного засобу;</li>
                <li class="mb-2 change">доставити авто у визначений митним органом термін до місця призначення;</li>
                <li class="mb-2 change">здійснити митне оформлення автомобіля.</li>
            </ol>
            <h6><strong>До митного оформлення подаються наступні документи:</strong></h6>
            <ol>
                <li class="mb-2 change">вантажна митна декларація;</li>
                <li class="mb-2 change">договір купівлі-продажу або інший документ, що його замінює;</li>
                <li class="mb-2 change">рахунок-фактура (інвойс);</li>
                <li class="mb-2 change">техпаспорт транспортного засобу;</li>
                <li class="mb-2 change">акт митного огляду, складений при перетині кордону;</li>
                <li class="mb-2 change">сертифікат відповідності;</li>
                <li class="mb-2 change">висновок експерта про якісні та вартісні характеристики транспортного
                    засобу;</li>
                <li class="mb-2 change">фото автомобіля;</li>
                <li class="mb-2 change">паспорт власника авто (закордонний, внутрішній);</li>
                <li class="mb-2 change">ІПН власника авто;</li>
                <li class="mb-2 change">за наявності, інші документи, що підтверджують вартість автомобіля.</li>
            </ol>
            <h5 class="text-danger">ВАЖЛИВО!!!</h5>
            <p><b>Остаточний розрахунок належних митних платежів здійснюється в день подання вантажної митної
                    декларації до оформлення.</b></p>
            <p class="text-danger">Сума, яка була зарезервована за попередньою декларацією для громадян
                (передоплата) може відрізнятися
                від суми необхідних митних платежів в день митного оформлення:</p>
            <ol>
                <li><u><b>за рахунок коливання курсу валют</b></u> (якщо сплачена сума менша, то необхідно доплатити
                    кошти яких не вистачає, якщо ця сума більша, то залишок повертається);</li>
                <li><u><b>збільшення вартості транспортного засобу для цілей оподаткування</b></u> (якщо митний
                    орган під час перевірки може аргументовано довести недостовірність заявленої фактурної вартості
                    автомобіля, то приймає рішення про коригування заявленої вартості і відмовляє в оформленні).
                </li>
            </ol>
            <p>Наступний крок – постановка автомобіля на облік у сервісному центрі МВС.</p>
        </div>
    </div>
</section>